footer.footer.bg-darkgrey.py-20
    div.container
        div.flex.gap-40(class="md:flex-col")
            div.max-w-xs(class="max:w-full")
                a(href="№")
                    img(src="/img/logo.svg", alt="логотип") 
                p.mt-4.text-white.text-lg Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, adipisci.
                input.mt-3.bg-slate-800.flex.w-full.py-3.px-4.rounded-xl.border-2.border-slate-600.text-white(class="focus:outline-none")(class="focus:outline-lightred")(type="text")(placeholder="Введите email")
                button.inline-block.mt-6.py-3.px-8.shadow-customred.bg-lightred.rounded-2xl.text-white.text-xl.tracking-tight.text-center Отправить
            div 
                h2.text-lightred.text-xl.font-medium Перейти
                ul.mt-2
                    li.mt-3
                        a.text-white.text-xl.font-medium(class="hover:text-lightred")(href="#") О нас
                    li.mt-3
                        a.text-white.text-xl.fomtmedium(class="hover:text-lightred")(href="#") Контакты
                    li.mt-3
                        a.text-white.text-xl.fomtmedium(class="hover:text-lightred")(href="#") Сервис
                    li.mt-3
                        a.text-white.text-xl.fomtmedium(class="hover:text-lightred")(href="#") Кейсы студии
                    li.mt-3
                        a.text-white.text-xl.fomtmedium(class="hover:text-lightred")(href="#") Блог