main.main 
    div.container
        div.wrapper_blocks.flex.justify-between.mt-40.pb-32(class="md:flex-col")(class="lg:mt-32")(class="lg:pb-24")
            div.left-section.flex.flex-col(class="w-1/2")(class="lg:w-full")
                h3.text-darkred.font-bold.text-xl.tracking-tight О нас
                h2.mt-1.text-4xl.font-black  Команда  за брендом.
                p.mt-2.max-w-sm.text-lg Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nisi, sit maxime, odit deserunt veniam voluptate inventore doloribus dolorum consectetur quae dolores qui. Quasi, quos?
                a.inline-block.mt-6.py-3.px-8.shadow-customred.bg-lightred.rounded-2xl.text-white.text-xl.tracking-tight.text-center.max-w-fit(class="sm:text-center")(class="sm:text-base")(class="sm:max-w-full")(href="#") Узнать больше

            div.right-section.flex.flex-col.items-end(class="w-1/2")(class="mt-6")(class="lg:w-full")
                img(class="w-[450px]")(class="lg:w-full")(src="../img/background.jpg", alt="картинка командной работы")
