section.section 
    div.container
        h1.title.pt-24.font-black.text-5xl.max-w-1xl.text-center.mx-auto.leading-snug(class="lg:text-4xl")(class="lg:pt-16")(class="md:text-3xl,pt-12")(class="md:pt-12")(class="md:max-w-full")(class="sm:pt-10")(class="sm:text-xl") Развивай свой бизнес - онлайн. Получай. Больше. Прибыли.
        p.subtitle.text-xl.tracking-tight.text-center.max-w-xl.mx-auto.mt-5(class="md:text-lg")(class="md:mt-4")(class="sm:mt-2")(class="sm:text-base") Хочешь заняться цифровым маркетингом ? Тогда вам нужны лиды, и именно здесь мы можем вам помочь.
        div.wrap_button.flex.justify-center.gap-7(class="sm:flex-col")(class="sm:mt-8")(class="sm:gap-0")(class="sm:mt0")
            a.inline-block.mt-6.py-3.px-7.shadow-customred.bg-lightred.rounded-2xl.text-white.text-xl.tracking-tight(href="#")(class="sm:text-center")(class="sm:text-base") Начать здесь
            a.inline-block.mt-6.py-3.px-7.rounded-2xl.text-lightred.text-xl.tracking-tight.border-2.border-lightred(href="#")(class="sm:text-center")(class="sm:text-base")(class="sm:mt-4") Узнать больше